mat-chip.signup {
    text-align: center;
    margin: 0px;
}

.contain {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.nav-span {
    padding: 0 1%;
}

.nav-link {
    color: lavender;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.logo-not-first-page {
    height: 75%;
}

.logo-not-first-page:hover {
    cursor: pointer;
}
