mat-chip.signup {
    text-align: center;
    margin: 0px;
}

.contain {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

/* .nav-link {
    color: black;
} */