<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Desk</mat-card-title>
        <mat-card-subtitle>Marine Drive Building 4</mat-card-subtitle>
    </mat-card-header>
    <div>
        <app-image-slider [slides]="pics" name="itemName"></app-image-slider>
    </div>
    <mat-card-content>
        <span style="font-weight: 400;">Price: </span>
        <span style="font-weight: 900;">$5.00</span>
        <span style="font-weight: 400;">/hour</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button disableRipple=true>Find on Map</button>
      <button mat-button>See More</button>
      <button mat-raised-button color="warn">Rent Now</button>
    </mat-card-actions>
</mat-card>