<div class="container">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>

        <mat-step [stepControl]="detailsFormGroup" errorMessage="Name is required.">
          <form [formGroup]="detailsFormGroup">
            <ng-template matStepLabel>Name and Photos</ng-template>
            
            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Item Name</mat-label>
              <input matInput maxlength=50 formControlName="nameCtrl" required #itemName>
              <mat-hint align="end">{{itemName.value.length}} / 50</mat-hint>
            </mat-form-field>
            <br>

            <!-- TODO: need to make this work -->
            <mat-label>Upload Photos</mat-label>
            <br>
            <!-- <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button> -->
            <!-- <input (change)="onFileSelected()" #fileInput type="file" id="file"> -->
            <input #fileInput type="file" id="file">
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="locationFormGroup" errorMessage="Address is required.">
          <form [formGroup]="locationFormGroup">
            <ng-template matStepLabel>Preferred Pickup Location</ng-template>
            <mat-form-field class="input-size" appearance="outline">
              <mat-label>Pickup Address</mat-label>
              <input matInput placeholder="Ex. Braeburn, Orchard Commons" formControlName="locationCtrl" required>
            </mat-form-field>
            <br>
            <mat-label>Select the pickup location on the map below</mat-label>
            <google-map height="600px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
              <map-marker [position]="markerPosition"
                [options]="markerOptions"></map-marker>
            </google-map>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="describeFormGroup" errorMessage="Description is required.">
            <form [formGroup]="describeFormGroup">
              <ng-template matStepLabel>A Short and Fitting Description</ng-template>
              <mat-form-field class="input-size" appearance="outline">
                <mat-label>Highlight the best features of your item</mat-label>
                <textarea rows=8 matInput formControlName="describeCtrl" required maxlength=500 #describe></textarea>
                <mat-hint align="end">{{ describe.value.length }} / 500</mat-hint>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="timingsFormGroup" errorMessage="Timings are required.">
            <form [formGroup]="timingsFormGroup">
              <ng-template matStepLabel>Times that suit you</ng-template>
              
              <mat-form-field class="input-size" appearance="outline">
                <mat-label>How much notice do you need?</mat-label>
                <mat-select>
                  <mat-option *ngFor="let notice of notices" [value]="notice">
                    {{ notice }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <h2 class="form-heading">Select your preferred pickup time</h2>
              <mat-form-field class="half-input-size full-padding-right" appearance="outline">
                <mat-label>From</mat-label>
                <input matInput type="time">
              </mat-form-field>
              <mat-form-field class="half-input-size" appearance="outline">
                <mat-label>To</mat-label>
                <input matInput type="time">
              </mat-form-field>
              <h2 class="form-heading">Select windows of your time availability for the next 3 months</h2>
              <h3 class="form-heading">Add more windows with <mat-icon>add_circle_outline</mat-icon></h3>
              <h3 class="form-heading">You can leave unused windows blank</h3>
              <div *ngFor="let window of windows; let i=index">
                <app-date-window></app-date-window>
                <mat-icon *ngIf=" i === windows.length - 1" (click)="addMoreWindows()" class="add-icon">add_circle_outline</mat-icon>
              </div>

              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="moneyFormGroup" errorMessage="Price and Payment are required.">
            <form [formGroup]="moneyFormGroup">
              <ng-template matStepLabel>Pricing</ng-template>
              <mat-form-field>
                <mat-label>Price in CAD</mat-label>
                <input matInput placeholder="5" formControlName="priceCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>
          
        <mat-step>
          <ng-template matStepLabel>Submit</ng-template>
          <p>You are now done now.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</div>
