.container {
    margin-top: 3%;
    margin-left: 1em;
    margin-right: 1em;
}

.mat-form-field {
    margin-top: 16px;
}

.form-heading {
    margin-bottom: 0px;
}

form {
    margin: 0 2%;
}

.input-size {
    width: 40%;
}

.half-input-size {
    width: 18%;
}

.full-padding-right {
    padding-right: 4%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
  }