<div class="container">
    <mat-horizontal-stepper labelPosition="bottom" #stepper>

        <mat-step [stepControl]="detailsFormGroup" errorMessage="Name is required.">
          <form [formGroup]="detailsFormGroup">
            <ng-template matStepLabel>Item Name and Photos</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="nameCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="locationFormGroup" errorMessage="Address is required.">
          <form [formGroup]="locationFormGroup">
            <ng-template matStepLabel>Preferred Pickup Location</ng-template>
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="locationCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="describeFormGroup" errorMessage="Description is required.">
            <form [formGroup]="describeFormGroup">
              <ng-template matStepLabel>Short Description that fits your item</ng-template>
              <mat-form-field>
                <mat-label>Describe</mat-label>
                <input matInput placeholder="" formControlName="describeCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="timingsFormGroup" errorMessage="Timings are required.">
            <form [formGroup]="timingsFormGroup">
              <ng-template matStepLabel>Times that suit you</ng-template>
              <mat-form-field>
                <mat-label>Pickup and Dropoff Times</mat-label>
                <input matInput placeholder="" formControlName="timeCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="priceFormGroup" errorMessage="Price is required.">
            <form [formGroup]="priceFormGroup">
              <ng-template matStepLabel>Pricing</ng-template>
              <mat-form-field>
                <mat-label>Price in CAD</mat-label>
                <input matInput placeholder="5" formControlName="priceCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="payoutFormGroup" errorMessage="Payment details are required.">
            <form [formGroup]="payoutFormGroup">
              <ng-template matStepLabel>Payout</ng-template>
              <mat-form-field>
                <mat-label>Payment Details</mat-label>
                <input matInput placeholder="Scotiabank" formControlName="payoutCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
        </mat-step>
          
        <mat-step>
          <ng-template matStepLabel>Submit</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</div>
