.container {
    margin-top: 3%;
    margin-left: 1em;
    margin-right: 1em;
}

.form-heading {
    margin-top: 16px;
    margin-bottom: 0px;
}

.rounder {
    border-radius: 25px;
}

form {
    margin: 0 2%;
}

.input-size {
    width: 400px;
}

.half-input-size {
    width: 175px;
}

.full-padding-right {
    padding-right: 50px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.add-icon:hover {
    cursor: pointer;
}

.divide-and-rule {
    margin: 1% 0 3% 0;
    width: 90%;
}