mat-form-field {
  padding: 1%;
}

mat-form-field.search-entry {
  width: 50%;
}

mat-form-field.date-entry {
  width: 20%;
}

mat-form-field.search-button {
  width: 10%;
  align-items: center;
  margin: 0px;
}