.grid-wrapper {
    margin: 20px 5%;
}

.full-width {
    min-width:100%;
}

.photo-tile {
    background-color: black;
    border: none;
}

.no-overflow {
    overflow: hidden;
}

.google-embed-img {
    display: block;
    max-width: 100%;
    border: none;
    border-radius: 35px;
}

.bottom-line {
    width: 80%;
    position: absolute;
    left: 0px;
    top: 90%;
}

/* mat-grid-tile {
    background: lightblue;
} */

#item-name {
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 30px;
    font-weight: 600;
    line-height: 15px;
}

#item-location {
    position: absolute;
    top: 100px;
    left: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
}

#item-description {
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 18px;
    font-weight: 100;
    line-height: 15px;
}

#expect-heading {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 30px;
    font-weight: 500;
    line-height: 15px;
}

.expect-subheading {
    font-size: 20px;
    font-weight: 400;
    line-height: 15px;
}

#expect-timings {
    position: absolute;
    top: 50px;
    left: 0px;
    font-size: 16px;
    font-weight: 100;
    line-height: 15px;
}

.expect-container {
    position: absolute;
    top: 65px;
    width: 50%;
}

#left-container {
    left: 0px;
}

#right-container {
    right: 0px;
}