<h1>Sign Up</h1>
<div>
  <p>Upload your government ID or UBC ID?</p>
  
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput>
  </mat-form-field>

  <button (click)="signInWithFB()">
    Continue with Facebook
  </button>

  <button (click)="signInWithGoogle()">
    Continue with Google
  </button>

  <button (click)="signOut()">
    Sign out
  </button>

  <button (click)="signOutGoogle()">
      Sign out from Google
  </button>

</div>

<img *ngIf="loggedIn" [src]="user.photoUrl">
<div *ngIf="loggedIn">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>

<div>
  <button mat-button>Cancel</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>