
<div style="margin:auto; width: 70%; margin-top: 30px;">

    <div class="row">
        <div class="logo-col">
            <img src="assets/ex.png" alt="Easy-Xchange">
        </div>
        <div class="title-col">
            <h1 class="title">Placeholder</h1>
        </div>
        
    </div>

    <mat-tab-group>
        <mat-tab label="Find Items">
            <app-input-details></app-input-details>
        </mat-tab>
        <mat-tab label="Find Homes">
            <app-input-details></app-input-details>
        </mat-tab>
    </mat-tab-group>
    
</div>