.front-container {
    margin: auto;
    height: 70vh;
    width: 100%;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* background-image: url(src/assets/20200502_110735.JPG); */
    /* background-size: cover; */
}

.search-bar {
    width: 70%;
    margin: 0 auto;
}

img {
    height: 5vw;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: inline;
    font-size: 400%;
}