/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

html, body { height: 100%; }
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.rounder-dialog .mat-dialog-container {
    border-radius: 25px;
  }