<mat-form-field appearance="outline" class="half-input-size full-padding-right" (click)="checkInPicker.open()">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepickerFilter]="checkInFilter" [matDatepicker]="checkInPicker">
    <mat-datepicker-toggle matSuffix [for]="checkInPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkInPicker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="outline" class="half-input-size half-padding-right" (click)="checkOutPicker.open()">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepickerFilter]="checkOutFilter" [matDatepicker]="checkOutPicker">
    <mat-datepicker-toggle matSuffix [for]="checkOutPicker"></mat-datepicker-toggle>
    <mat-datepicker #checkOutPicker></mat-datepicker>
</mat-form-field>